.sito-intestazione{
    background-image: url(./img/pattern.png);
    background-repeat: repeat-x;
    background-color: #4EA1FF;
    background-size: 200px;
    block-size: 50px;
}

.sito-titolo{
    font: transparent;
    font-size: 0px;
}

.logo{
    height: 25px;
    margin-top: 20px;
    margin-left: 50px;
}

.sito-corpo{
    margin-left: 50px;
    margin-right: 50 px;
}

.articolo-titolo{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 0px;
}

.articolo-autore{
    margin-top: 0px;
    margin-bottom: 0px;
    color: #A4A4A4;
}

.articolo-data{
    margin-top: 0px;
    margin-bottom: 0px;
    color: #A4A4A4;
}

#the-booleaner{
    color: #54A3BE;
    font-weight: bold;
        margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}